# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.setting

*.a
*.o
/#*
utilities/.libs/
config.log
config.status
libtool
Makefile
autom4te.cache/output.0
autom4te.cache/requests
autom4te.cache/traces.0
include/config.h
include/Makefile
include/stamp-h1
samples/Makefile
samples/C_Sample/Makefile
samples/C_Sample/SensorABSync
samples/C_Sample/SensorAContinualRead
samples/C_Sample/SensorAHandler
samples/C_Sample/SensorAIntervalRead
samples/C_Sample/SensorAPastRead
samples/C_Sample/SensorBHandler
samples/C_Sample/.deps/SensorABSync.Po
samples/C_Sample/.deps/SensorAContinualRead.Po
samples/C_Sample/.deps/SensorAHandler.Po
samples/C_Sample/.deps/SensorAIntervalRead.Po
samples/C_Sample/.deps/SensorAPastRead.Po
samples/C_Sample/.deps/SensorBHandler.Po
samples/C_Sample/.libs/SensorABSync
samples/C_Sample/.libs/SensorAContinualRead
samples/C_Sample/.libs/SensorAHandler
samples/C_Sample/.libs/SensorAIntervalRead
samples/C_Sample/.libs/SensorAPastRead
samples/C_Sample/.libs/SensorBHandler
samples/Cpp_Sample/Makefile
samples/Cpp_Sample/ssmReadSample
samples/Cpp_Sample/ssmWriteSample
samples/Cpp_Sample/.deps/ssmReadSample.Po
samples/Cpp_Sample/.deps/ssmWriteSample.Po
samples/Cpp_Sample/.libs/ssmReadSample
samples/Cpp_Sample/.libs/ssmWriteSample
src/Makefile
src/ssm-coordinator
src/.deps/libssm_la-libssm-shm.Plo
src/.deps/libssm_la-libssm-time.Plo
src/.deps/libssm_la-libssm.Plo
src/.deps/ssm_coordinator-ssm-coordinator.Po
src/.libs/ssm-coordinator
utilities/lsssm
utilities/Makefile
utilities/read_proxy_test
utilities/ssm-date
utilities/ssm-graph
utilities/ssm-logger
utilities/ssm-monitor
utilities/ssm-player
utilities/ssm-proxy
utilities/ssm-transporter
utilities/write_proxy_test
utilities/.deps/lsssm.Po
utilities/.deps/read_proxy_test-dssm-utility.Po
utilities/.deps/read_proxy_test-read_proxy_test.Po
utilities/.deps/read_proxy_test-ssm-proxy-client.Po
utilities/.deps/ssm_date-ssm-date.Po
utilities/.deps/ssm_graph-ssm-graph.Po
utilities/.deps/ssm_logger-ssm-logger.Po
utilities/.deps/ssm_monitor-ssm-monitor.Po
utilities/.deps/ssm_player-dssm-utility.Po
utilities/.deps/ssm_player-ssm-player.Po
utilities/.deps/ssm_player-ssm-proxy-client.Po
utilities/.deps/ssm_proxy-dssm-utility.Po
utilities/.deps/ssm_proxy-ssm-proxy.Po
utilities/.deps/ssm_transporter-ssm-transporter.Po
utilities/.deps/write_proxy_test-dssm-utility.Po
utilities/.deps/write_proxy_test-ssm-proxy-client.Po
utilities/.deps/write_proxy_test-write_proxy_test.Po
