# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.setting

*.a
*.o
/#*
samples/Cpp_Sample/.libs/ssmReadSample
samples/Cpp_Sample/.libs/ssmWriteSample
src/.libs/ssm-coordinator
utilities/.deps/read_proxy_test-dssm-utility.Po
utilities/.deps/read_proxy_test-read_proxy_test.Po
utilities/.deps/read_proxy_test-ssm-proxy-client.Po
utilities/.deps/ssm_player-ssm-proxy-client.Po
utilities/.deps/write_proxy_test-dssm-utility.Po
utilities/.deps/write_proxy_test-ssm-proxy-client.Po
utilities/.deps/write_proxy_test-write_proxy_test.Po
utilities/.libs/lsssm
utilities/.libs/read_proxy_test
utilities/.libs/ssm-date
utilities/.libs/ssm-graph
utilities/.libs/ssm-logger
utilities/.libs/ssm-monitor
utilities/.libs/ssm-player
utilities/.libs/ssm-proxy
utilities/.libs/ssm-transporter
utilities/.libs/write_proxy_test
